$head-font: Source Sans Pro, sans-serif;
$text-font: Open Sans, sans-serif;
$font-color: #81868e;
$font-size: 14px;
$font-height: 1.5;
$font-weight: 300;
$color-bg: #fff;
$btn-hover-bg: rgba(243, 243, 243, 0.5);
$hover-text: #212237;
$border: #fff;
$active-text: #A09E9A;


/** Grid variables **/
$container-width: 1170px;
$col-padding: 15px;